middleware/tests/WSClient/src/main/resources/wsdl/controller.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ControllerSOAPEndpointService" targetNamespace="http://soapendpoint.controller.services.greenstarnetwork.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapendpoint.controller.services.greenstarnetwork.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soapendpoint.controller.services.greenstarnetwork.com/" xmlns="http://soapendpoint.controller.services.greenstarnetwork.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="getHostList">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getHostListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="getLogContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLogContentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connect">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connectResponse">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="getResourcesFromCloud">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getResourcesFromCloudResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getLinkTable">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="getLinkTableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generatePlan">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="generatePlanResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getLogFiles">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getLogFilesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setMode">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setModeResponse">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="refreshPlan">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="refreshPlanResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generateHostList">
    <xs:sequence>

      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateHostListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executePlan">

    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="executePlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMigrationPlan">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="getMigrationPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMode">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getModeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getHostList" nillable="true" type="getHostList"/>
  <xs:element name="getHostListResponse" nillable="true" type="getHostListResponse"/>
  <xs:element name="getLogContent" nillable="true" type="getLogContent"/>
  <xs:element name="getLogContentResponse" nillable="true" type="getLogContentResponse"/>

  <xs:element name="connect" nillable="true" type="connect"/>
  <xs:element name="connectResponse" nillable="true" type="connectResponse"/>
  <xs:element name="getResourcesFromCloud" nillable="true" type="getResourcesFromCloud"/>
  <xs:element name="getResourcesFromCloudResponse" nillable="true" type="getResourcesFromCloudResponse"/>
  <xs:element name="getLinkTable" nillable="true" type="getLinkTable"/>
  <xs:element name="getLinkTableResponse" nillable="true" type="getLinkTableResponse"/>
  <xs:element name="generatePlan" nillable="true" type="generatePlan"/>
  <xs:element name="generatePlanResponse" nillable="true" type="generatePlanResponse"/>
  <xs:element name="ControllerException" type="ControllerException"/>

  <xs:complexType name="ControllerException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getLogFiles" nillable="true" type="getLogFiles"/>
  <xs:element name="getLogFilesResponse" nillable="true" type="getLogFilesResponse"/>
  <xs:element name="setMode" nillable="true" type="setMode"/>
  <xs:element name="setModeResponse" nillable="true" type="setModeResponse"/>
  <xs:element name="refreshPlan" nillable="true" type="refreshPlan"/>
  <xs:element name="refreshPlanResponse" nillable="true" type="refreshPlanResponse"/>

  <xs:element name="generateHostList" nillable="true" type="generateHostList"/>
  <xs:element name="generateHostListResponse" nillable="true" type="generateHostListResponse"/>
  <xs:element name="executePlan" nillable="true" type="executePlan"/>
  <xs:element name="executePlanResponse" nillable="true" type="executePlanResponse"/>
  <xs:element name="getMigrationPlan" nillable="true" type="getMigrationPlan"/>
  <xs:element name="getMigrationPlanResponse" nillable="true" type="getMigrationPlanResponse"/>
  <xs:element name="getMode" nillable="true" type="getMode"/>
  <xs:element name="getModeResponse" nillable="true" type="getModeResponse"/>
</xs:schema>

  </wsdl:types>
  <wsdl:message name="getLinkTableResponse">
    <wsdl:part element="tns:getLinkTableResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLogContent">
    <wsdl:part element="tns:getLogContent" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="executePlan">
    <wsdl:part element="tns:executePlan" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setMode">
    <wsdl:part element="tns:setMode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshPlan">

    <wsdl:part element="tns:refreshPlan" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateHostListResponse">
    <wsdl:part element="tns:generateHostListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMigrationPlan">
    <wsdl:part element="tns:getMigrationPlan" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLogFiles">
    <wsdl:part element="tns:getLogFiles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="connectResponse">
    <wsdl:part element="tns:connectResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="executePlanResponse">
    <wsdl:part element="tns:executePlanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ControllerException">
    <wsdl:part element="tns:ControllerException" name="ControllerException">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="refreshPlanResponse">
    <wsdl:part element="tns:refreshPlanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostListResponse">
    <wsdl:part element="tns:getHostListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMode">

    <wsdl:part element="tns:getMode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePlanResponse">
    <wsdl:part element="tns:generatePlanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResourcesFromCloudResponse">
    <wsdl:part element="tns:getResourcesFromCloudResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModeResponse">
    <wsdl:part element="tns:getModeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateHostList">
    <wsdl:part element="tns:generateHostList" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="setModeResponse">
    <wsdl:part element="tns:setModeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostList">
    <wsdl:part element="tns:getHostList" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getLogFilesResponse">
    <wsdl:part element="tns:getLogFilesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResourcesFromCloud">
    <wsdl:part element="tns:getResourcesFromCloud" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="connect">

    <wsdl:part element="tns:connect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLinkTable">
    <wsdl:part element="tns:getLinkTable" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMigrationPlanResponse">
    <wsdl:part element="tns:getMigrationPlanResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLogContentResponse">
    <wsdl:part element="tns:getLogContentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePlan">
    <wsdl:part element="tns:generatePlan" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:portType name="IControllerSOAPEndpoint">
    <wsdl:operation name="getHostList">
      <wsdl:input message="tns:getHostList" name="getHostList">
    </wsdl:input>
      <wsdl:output message="tns:getHostListResponse" name="getHostListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogContent">

      <wsdl:input message="tns:getLogContent" name="getLogContent">
    </wsdl:input>
      <wsdl:output message="tns:getLogContentResponse" name="getLogContentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <wsdl:input message="tns:connect" name="connect">
    </wsdl:input>
      <wsdl:output message="tns:connectResponse" name="connectResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourcesFromCloud">
      <wsdl:input message="tns:getResourcesFromCloud" name="getResourcesFromCloud">
    </wsdl:input>
      <wsdl:output message="tns:getResourcesFromCloudResponse" name="getResourcesFromCloudResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLinkTable">

      <wsdl:input message="tns:getLinkTable" name="getLinkTable">
    </wsdl:input>
      <wsdl:output message="tns:getLinkTableResponse" name="getLinkTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePlan">
      <wsdl:input message="tns:generatePlan" name="generatePlan">
    </wsdl:input>
      <wsdl:output message="tns:generatePlanResponse" name="generatePlanResponse">

    </wsdl:output>
      <wsdl:fault message="tns:ControllerException" name="ControllerException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLogFiles">
      <wsdl:input message="tns:getLogFiles" name="getLogFiles">
    </wsdl:input>
      <wsdl:output message="tns:getLogFilesResponse" name="getLogFilesResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="setMode">
      <wsdl:input message="tns:setMode" name="setMode">
    </wsdl:input>
      <wsdl:output message="tns:setModeResponse" name="setModeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshPlan">
      <wsdl:input message="tns:refreshPlan" name="refreshPlan">

    </wsdl:input>
      <wsdl:output message="tns:refreshPlanResponse" name="refreshPlanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateHostList">
      <wsdl:input message="tns:generateHostList" name="generateHostList">
    </wsdl:input>
      <wsdl:output message="tns:generateHostListResponse" name="generateHostListResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="executePlan">
      <wsdl:input message="tns:executePlan" name="executePlan">
    </wsdl:input>
      <wsdl:output message="tns:executePlanResponse" name="executePlanResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ControllerException" name="ControllerException">
    </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMigrationPlan">
      <wsdl:input message="tns:getMigrationPlan" name="getMigrationPlan">
    </wsdl:input>
      <wsdl:output message="tns:getMigrationPlanResponse" name="getMigrationPlanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMode">
      <wsdl:input message="tns:getMode" name="getMode">
    </wsdl:input>

      <wsdl:output message="tns:getModeResponse" name="getModeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControllerSOAPEndpointServiceSoapBinding" type="tns:IControllerSOAPEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHostList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHostList">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHostListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="connect">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="connectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogContent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLogContent">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLogContentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLinkTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLinkTable">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLinkTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourcesFromCloud">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getResourcesFromCloud">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResourcesFromCloudResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generatePlan">

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generatePlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ControllerException">
        <soap:fault name="ControllerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getLogFiles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLogFiles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLogFilesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setMode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setMode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setModeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="executePlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executePlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executePlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ControllerException">

        <soap:fault name="ControllerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateHostList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateHostList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateHostListResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshPlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="refreshPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="refreshPlanResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMigrationPlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMigrationPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMigrationPlanResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getModeResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControllerSOAPEndpointService">
    <wsdl:port binding="tns:ControllerSOAPEndpointServiceSoapBinding" name="ControllerSOAPEndpointPort">
      <soap:address location="http://207.162.8.46:8181/cxf/ControllerSOAPEndpoint"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>