middleware/bundles/services/cloudManager/src/main/resources/wsdl/cloudManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CloudManagerSOAPEndpointService" targetNamespace="http://soapendpoint.cloudManager.services.greenstarnetwork.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapendpoint.cloudManager.services.greenstarnetwork.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soapendpoint.cloudManager.services.greenstarnetwork.com/" xmlns:tns="http://soapendpoint.cloudManager.services.greenstarnetwork.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="getCloudProxyUser">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCloudProxyUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="stopInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stopInstanceResponse">
    <xs:sequence>

      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shutdownInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="shutdownInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>

      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importVMResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="exportVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exportVMResponse">
    <xs:sequence>

      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeHostResponse">

    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setProxyHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>

      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setProxyHostResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="overrideHostPriorities">
    <xs:sequence>

      <xs:element name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:int"/>
                </xs:sequence>

              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractMap">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="hashMap">
    <xs:complexContent>
      <xs:extension base="tns:abstractMap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="overrideHostPrioritiesResponse">

    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="startInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startInstanceResponse">

    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rebootInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="rebootInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hostQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>

      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hostQueryResponse">
    <xs:sequence>

      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="executeActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeHosts">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="describeHostsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCloudProxyIP">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCloudProxyIPResponse">

    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="migrateInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="migrateInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCloudProxyStoragePath">
    <xs:sequence/>

  </xs:complexType>
  <xs:complexType name="getCloudProxyStoragePathResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>

      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:complexType name="getCloudProxyPassword">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCloudProxyPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="destroyInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInstanceInHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInstanceInHostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCloudProxyUser" nillable="true" type="tns:getCloudProxyUser"/>
  <xs:element name="getCloudProxyUserResponse" nillable="true" type="tns:getCloudProxyUserResponse"/>

  <xs:element name="stopInstance" nillable="true" type="tns:stopInstance"/>
  <xs:element name="stopInstanceResponse" nillable="true" type="tns:stopInstanceResponse"/>
  <xs:element name="shutdownInstance" nillable="true" type="tns:shutdownInstance"/>
  <xs:element name="shutdownInstanceResponse" nillable="true" type="tns:shutdownInstanceResponse"/>
  <xs:element name="importVM" nillable="true" type="tns:importVM"/>
  <xs:element name="importVMResponse" nillable="true" type="tns:importVMResponse"/>
  <xs:element name="exportVM" nillable="true" type="tns:exportVM"/>
  <xs:element name="exportVMResponse" nillable="true" type="tns:exportVMResponse"/>
  <xs:element name="describeHost" nillable="true" type="tns:describeHost"/>

  <xs:element name="describeHostResponse" nillable="true" type="tns:describeHostResponse"/>
  <xs:element name="setProxyHost" nillable="true" type="tns:setProxyHost"/>
  <xs:element name="setProxyHostResponse" nillable="true" type="tns:setProxyHostResponse"/>
  <xs:element name="overrideHostPriorities" nillable="true" type="tns:overrideHostPriorities"/>
  <xs:element name="overrideHostPrioritiesResponse" nillable="true" type="tns:overrideHostPrioritiesResponse"/>
  <xs:element name="startInstance" nillable="true" type="tns:startInstance"/>
  <xs:element name="startInstanceResponse" nillable="true" type="tns:startInstanceResponse"/>
  <xs:element name="rebootInstance" nillable="true" type="tns:rebootInstance"/>
  <xs:element name="rebootInstanceResponse" nillable="true" type="tns:rebootInstanceResponse"/>

  <xs:element name="hostQuery" nillable="true" type="tns:hostQuery"/>
  <xs:element name="hostQueryResponse" nillable="true" type="tns:hostQueryResponse"/>
  <xs:element name="executeAction" nillable="true" type="tns:executeAction"/>
  <xs:element name="executeActionResponse" nillable="true" type="tns:executeActionResponse"/>
  <xs:element name="describeHosts" nillable="true" type="tns:describeHosts"/>
  <xs:element name="describeHostsResponse" nillable="true" type="tns:describeHostsResponse"/>
  <xs:element name="getCloudProxyIP" nillable="true" type="tns:getCloudProxyIP"/>
  <xs:element name="getCloudProxyIPResponse" nillable="true" type="tns:getCloudProxyIPResponse"/>
  <xs:element name="migrateInstance" nillable="true" type="tns:migrateInstance"/>

  <xs:element name="migrateInstanceResponse" nillable="true" type="tns:migrateInstanceResponse"/>
  <xs:element name="getCloudProxyStoragePath" nillable="true" type="tns:getCloudProxyStoragePath"/>
  <xs:element name="getCloudProxyStoragePathResponse" nillable="true" type="tns:getCloudProxyStoragePathResponse"/>
  <xs:element name="createInstance" nillable="true" type="tns:createInstance"/>
  <xs:element name="createInstanceResponse" nillable="true" type="tns:createInstanceResponse"/>
  <xs:element name="getCloudProxyPassword" nillable="true" type="tns:getCloudProxyPassword"/>
  <xs:element name="getCloudProxyPasswordResponse" nillable="true" type="tns:getCloudProxyPasswordResponse"/>
  <xs:element name="destroyInstance" nillable="true" type="tns:destroyInstance"/>
  <xs:element name="destroyInstanceResponse" nillable="true" type="tns:destroyInstanceResponse"/>

  <xs:element name="createInstanceInHost" nillable="true" type="tns:createInstanceInHost"/>
  <xs:element name="createInstanceInHostResponse" nillable="true" type="tns:createInstanceInHostResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="overrideHostPriorities">
    <wsdl:part element="tns:overrideHostPriorities" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyIP">

    <wsdl:part element="tns:getCloudProxyIP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyUserResponse">
    <wsdl:part element="tns:getCloudProxyUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="overrideHostPrioritiesResponse">
    <wsdl:part element="tns:overrideHostPrioritiesResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionResponse">
    <wsdl:part element="tns:executeActionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shutdownInstanceResponse">
    <wsdl:part element="tns:shutdownInstanceResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="setProxyHostResponse">
    <wsdl:part element="tns:setProxyHostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportVM">
    <wsdl:part element="tns:exportVM" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="destroyInstance">
    <wsdl:part element="tns:destroyInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyStoragePath">
    <wsdl:part element="tns:getCloudProxyStoragePath" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyIPResponse">

    <wsdl:part element="tns:getCloudProxyIPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeHosts">
    <wsdl:part element="tns:describeHosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeAction">
    <wsdl:part element="tns:executeAction" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProxyHost">
    <wsdl:part element="tns:setProxyHost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rebootInstanceResponse">
    <wsdl:part element="tns:rebootInstanceResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="migrateInstanceResponse">
    <wsdl:part element="tns:migrateInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInstanceInHost">
    <wsdl:part element="tns:createInstanceInHost" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getCloudProxyStoragePathResponse">
    <wsdl:part element="tns:getCloudProxyStoragePathResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startInstanceResponse">
    <wsdl:part element="tns:startInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hostQuery">

    <wsdl:part element="tns:hostQuery" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="migrateInstance">
    <wsdl:part element="tns:migrateInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyPasswordResponse">
    <wsdl:part element="tns:getCloudProxyPasswordResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyInstanceResponse">
    <wsdl:part element="tns:destroyInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInstance">
    <wsdl:part element="tns:createInstance" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="stopInstanceResponse">
    <wsdl:part element="tns:stopInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopInstance">
    <wsdl:part element="tns:stopInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="createInstanceResponse">
    <wsdl:part element="tns:createInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hostQueryResponse">
    <wsdl:part element="tns:hostQueryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shutdownInstance">

    <wsdl:part element="tns:shutdownInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startInstance">
    <wsdl:part element="tns:startInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeHostsResponse">
    <wsdl:part element="tns:describeHostsResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="importVMResponse">
    <wsdl:part element="tns:importVMResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInstanceInHostResponse">
    <wsdl:part element="tns:createInstanceInHostResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="exportVMResponse">
    <wsdl:part element="tns:exportVMResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="importVM">
    <wsdl:part element="tns:importVM" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="describeHostResponse">
    <wsdl:part element="tns:describeHostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyUser">
    <wsdl:part element="tns:getCloudProxyUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCloudProxyPassword">

    <wsdl:part element="tns:getCloudProxyPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rebootInstance">
    <wsdl:part element="tns:rebootInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeHost">
    <wsdl:part element="tns:describeHost" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICloudManagerSOAPEndpoint">
    <wsdl:operation name="getCloudProxyUser">
      <wsdl:input message="tns:getCloudProxyUser" name="getCloudProxyUser">
    </wsdl:input>
      <wsdl:output message="tns:getCloudProxyUserResponse" name="getCloudProxyUserResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="stopInstance">
      <wsdl:input message="tns:stopInstance" name="stopInstance">
    </wsdl:input>
      <wsdl:output message="tns:stopInstanceResponse" name="stopInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shutdownInstance">
      <wsdl:input message="tns:shutdownInstance" name="shutdownInstance">
    </wsdl:input>

      <wsdl:output message="tns:shutdownInstanceResponse" name="shutdownInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importVM">
      <wsdl:input message="tns:importVM" name="importVM">
    </wsdl:input>
      <wsdl:output message="tns:importVMResponse" name="importVMResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="exportVM">
      <wsdl:input message="tns:exportVM" name="exportVM">
    </wsdl:input>
      <wsdl:output message="tns:exportVMResponse" name="exportVMResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="describeHost">
      <wsdl:input message="tns:describeHost" name="describeHost">
    </wsdl:input>

      <wsdl:output message="tns:describeHostResponse" name="describeHostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProxyHost">
      <wsdl:input message="tns:setProxyHost" name="setProxyHost">
    </wsdl:input>
      <wsdl:output message="tns:setProxyHostResponse" name="setProxyHostResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="overrideHostPriorities">
      <wsdl:input message="tns:overrideHostPriorities" name="overrideHostPriorities">
    </wsdl:input>
      <wsdl:output message="tns:overrideHostPrioritiesResponse" name="overrideHostPrioritiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startInstance">
      <wsdl:input message="tns:startInstance" name="startInstance">
    </wsdl:input>

      <wsdl:output message="tns:startInstanceResponse" name="startInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rebootInstance">
      <wsdl:input message="tns:rebootInstance" name="rebootInstance">
    </wsdl:input>
      <wsdl:output message="tns:rebootInstanceResponse" name="rebootInstanceResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="hostQuery">
      <wsdl:input message="tns:hostQuery" name="hostQuery">
    </wsdl:input>
      <wsdl:output message="tns:hostQueryResponse" name="hostQueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeAction">
      <wsdl:input message="tns:executeAction" name="executeAction">
    </wsdl:input>

      <wsdl:output message="tns:executeActionResponse" name="executeActionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="describeHosts">
      <wsdl:input message="tns:describeHosts" name="describeHosts">
    </wsdl:input>
      <wsdl:output message="tns:describeHostsResponse" name="describeHostsResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCloudProxyIP">
      <wsdl:input message="tns:getCloudProxyIP" name="getCloudProxyIP">
    </wsdl:input>
      <wsdl:output message="tns:getCloudProxyIPResponse" name="getCloudProxyIPResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="migrateInstance">
      <wsdl:input message="tns:migrateInstance" name="migrateInstance">
    </wsdl:input>

      <wsdl:output message="tns:migrateInstanceResponse" name="migrateInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudProxyStoragePath">
      <wsdl:input message="tns:getCloudProxyStoragePath" name="getCloudProxyStoragePath">
    </wsdl:input>
      <wsdl:output message="tns:getCloudProxyStoragePathResponse" name="getCloudProxyStoragePathResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createInstance">
      <wsdl:input message="tns:createInstance" name="createInstance">
    </wsdl:input>
      <wsdl:output message="tns:createInstanceResponse" name="createInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudProxyPassword">
      <wsdl:input message="tns:getCloudProxyPassword" name="getCloudProxyPassword">
    </wsdl:input>

      <wsdl:output message="tns:getCloudProxyPasswordResponse" name="getCloudProxyPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyInstance">
      <wsdl:input message="tns:destroyInstance" name="destroyInstance">
    </wsdl:input>
      <wsdl:output message="tns:destroyInstanceResponse" name="destroyInstanceResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createInstanceInHost">
      <wsdl:input message="tns:createInstanceInHost" name="createInstanceInHost">
    </wsdl:input>
      <wsdl:output message="tns:createInstanceInHostResponse" name="createInstanceInHostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudManagerSOAPEndpointServiceSoapBinding" type="tns:ICloudManagerSOAPEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getCloudProxyUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCloudProxyUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCloudProxyUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="stopInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="stopInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="importVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="importVM">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="importVMResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="shutdownInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shutdownInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shutdownInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="exportVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="exportVM">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="exportVMResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="describeHost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="describeHost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="describeHostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setProxyHost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setProxyHost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setProxyHostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="overrideHostPriorities">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="overrideHostPriorities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="overrideHostPrioritiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="rebootInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rebootInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rebootInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="startInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="executeAction">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executeAction">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeActionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="hostQuery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hostQuery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hostQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="describeHosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="describeHosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="describeHostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCloudProxyIP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCloudProxyIP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCloudProxyIPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="migrateInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="migrateInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="migrateInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCloudProxyStoragePath">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCloudProxyStoragePath">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCloudProxyStoragePathResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createInstanceInHost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createInstanceInHost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createInstanceInHostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="destroyInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroyInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCloudProxyPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCloudProxyPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCloudProxyPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="CloudManagerSOAPEndpointService">
    <wsdl:port binding="tns:CloudManagerSOAPEndpointServiceSoapBinding" name="CloudManagerSOAPEndpointPort">
      <soap:address location="http://localhost:8181/cxf/CloudManagerSOAPEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>