middleware/bundles/services/facilityManager/src/main/resources/wsdl/actionsetCapability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ActionSetCapabilitySOAPEndpointService" targetNamespace="http://soapendpoint.actionset.capabilities.iaasframework.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soapendpoint.actionset.capabilities.iaasframework.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapendpoint.actionset.capabilities.iaasframework.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soapendpoint.actionset.capabilities.iaasframework.com/">
  <xs:element name="actionData" type="tns:actionData"/>
  <xs:element name="addActionsToQueue" type="tns:addActionsToQueue"/>
  <xs:element name="addActionsToQueueResponse" type="tns:addActionsToQueueResponse"/>
  <xs:element name="clearActionsQueue" type="tns:clearActionsQueue"/>
  <xs:element name="clearActionsQueueResponse" type="tns:clearActionsQueueResponse"/>
  <xs:element name="executeAction" type="tns:executeAction"/>
  <xs:element name="executeActionResponse" type="tns:executeActionResponse"/>
  <xs:element name="executeActionWS" type="tns:executeActionWS"/>
  <xs:element name="executeActionWSResponse" type="tns:executeActionWSResponse"/>
  <xs:element name="executeActionsQueue" type="tns:executeActionsQueue"/>
  <xs:element name="executeActionsQueueResponse" type="tns:executeActionsQueueResponse"/>
  <xs:element name="getActionNames" type="tns:getActionNames"/>
  <xs:element name="getActionNamesResponse" type="tns:getActionNamesResponse"/>
  <xs:element name="listActionsFromQueue" type="tns:listActionsFromQueue"/>
  <xs:element name="listActionsFromQueueResponse" type="tns:listActionsFromQueueResponse"/>
  <xs:element name="removeActionsFromQueue" type="tns:removeActionsFromQueue"/>
  <xs:element name="removeActionsFromQueueResponse" type="tns:removeActionsFromQueueResponse"/>
  <xs:complexType name="executeActionWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeActionWSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="information">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capabilityDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="capabilityInformation" type="tns:information"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="capabilityProperty" type="tns:capabilityProperty"/>
      <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capabilityProperty">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="actionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionID" type="xs:string"/>
      <xs:element name="arguments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:anyType"/>
                  <xs:element minOccurs="0" name="value" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="uniqueId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="tns:actionData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arguments" type="tns:actionArgumentsMap"/>
    </xs:sequence>
    <xs:attribute name="actionId" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="actionArgumentsMap">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entries" type="tns:actionArgumentsEntry"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionArgumentsEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:anyType"/>
      <xs:element minOccurs="0" name="value" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActionNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActionNamesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeActionsQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeActionsQueueResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="addActionsToQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:actionData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addActionsToQueueResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="removeActionsFromQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:actionData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeActionsFromQueueResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="listActionsFromQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listActionsFromQueueResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actionData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clearActionsQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clearActionsQueueResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ActionException" type="tns:ActionException"/>
  <xs:complexType name="ActionException">
    <xs:sequence>
      <xs:element name="actionRequest" nillable="true" type="tns:actionRequest"/>
      <xs:element name="capabilityDescriptor" nillable="true" type="tns:capabilityDescriptor"/>
      <xs:element name="resourceInformation" nillable="true" type="tns:information"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="executeAction">
    <wsdl:part name="parameters" element="tns:executeAction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addActionsToQueue">
    <wsdl:part name="parameters" element="tns:addActionsToQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActionException">
    <wsdl:part name="ActionException" element="tns:ActionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionNamesResponse">
    <wsdl:part name="parameters" element="tns:getActionNamesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeActionsFromQueue">
    <wsdl:part name="parameters" element="tns:removeActionsFromQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listActionsFromQueueResponse">
    <wsdl:part name="parameters" element="tns:listActionsFromQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addActionsToQueueResponse">
    <wsdl:part name="parameters" element="tns:addActionsToQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clearActionsQueueResponse">
    <wsdl:part name="parameters" element="tns:clearActionsQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listActionsFromQueue">
    <wsdl:part name="parameters" element="tns:listActionsFromQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionWS">
    <wsdl:part name="parameters" element="tns:executeActionWS">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionResponse">
    <wsdl:part name="parameters" element="tns:executeActionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionsQueueResponse">
    <wsdl:part name="parameters" element="tns:executeActionsQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionWSResponse">
    <wsdl:part name="parameters" element="tns:executeActionWSResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeActionsFromQueueResponse">
    <wsdl:part name="parameters" element="tns:removeActionsFromQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clearActionsQueue">
    <wsdl:part name="parameters" element="tns:clearActionsQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionNames">
    <wsdl:part name="parameters" element="tns:getActionNames">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeActionsQueue">
    <wsdl:part name="parameters" element="tns:executeActionsQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IActionSetCapabilitySOAPEndpoint">
    <wsdl:operation name="executeActionWS">
      <wsdl:input name="executeActionWS" message="tns:executeActionWS">
    </wsdl:input>
      <wsdl:output name="executeActionWSResponse" message="tns:executeActionWSResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeAction">
      <wsdl:input name="executeAction" message="tns:executeAction">
    </wsdl:input>
      <wsdl:output name="executeActionResponse" message="tns:executeActionResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActionNames">
      <wsdl:input name="getActionNames" message="tns:getActionNames">
    </wsdl:input>
      <wsdl:output name="getActionNamesResponse" message="tns:getActionNamesResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeActionsQueue">
      <wsdl:input name="executeActionsQueue" message="tns:executeActionsQueue">
    </wsdl:input>
      <wsdl:output name="executeActionsQueueResponse" message="tns:executeActionsQueueResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActionsToQueue">
      <wsdl:input name="addActionsToQueue" message="tns:addActionsToQueue">
    </wsdl:input>
      <wsdl:output name="addActionsToQueueResponse" message="tns:addActionsToQueueResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeActionsFromQueue">
      <wsdl:input name="removeActionsFromQueue" message="tns:removeActionsFromQueue">
    </wsdl:input>
      <wsdl:output name="removeActionsFromQueueResponse" message="tns:removeActionsFromQueueResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listActionsFromQueue">
      <wsdl:input name="listActionsFromQueue" message="tns:listActionsFromQueue">
    </wsdl:input>
      <wsdl:output name="listActionsFromQueueResponse" message="tns:listActionsFromQueueResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="clearActionsQueue">
      <wsdl:input name="clearActionsQueue" message="tns:clearActionsQueue">
    </wsdl:input>
      <wsdl:output name="clearActionsQueueResponse" message="tns:clearActionsQueueResponse">
    </wsdl:output>
      <wsdl:fault name="ActionException" message="tns:ActionException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActionSetCapabilitySOAPEndpointServiceSoapBinding" type="tns:IActionSetCapabilitySOAPEndpoint">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeActionWS">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="executeActionWS">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeActionWSResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeAction">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="executeAction">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeActionResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActionNames">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="getActionNames">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActionNamesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeActionsQueue">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="executeActionsQueue">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeActionsQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActionsToQueue">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="addActionsToQueue">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActionsToQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeActionsFromQueue">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="removeActionsFromQueue">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeActionsFromQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listActionsFromQueue">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="listActionsFromQueue">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listActionsFromQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="clearActionsQueue">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="clearActionsQueue">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="clearActionsQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ActionException">
        <soap12:fault name="ActionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActionSetCapabilitySOAPEndpointService">
    <wsdl:port name="ActionSetCapabilitySOAPEndpointPort" binding="tns:ActionSetCapabilitySOAPEndpointServiceSoapBinding">
      <soap12:address location="http://localhost:9090/ActionSetCapabilitySOAPEndpointPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
