middleware/bundles/services/facilityManager/src/main/resources/wsdl/archiveCapability.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ArchiveCapabilitySOAPEndpointService" targetNamespace="http://soapendpoint.archiveCapability.capabilities.greenstarnetwork.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapendpoint.archiveCapability.capabilities.greenstarnetwork.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soapendpoint.archiveCapability.capabilities.greenstarnetwork.com/" xmlns="http://soapendpoint.archiveCapability.capabilities.greenstarnetwork.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="getArchiveData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArchiveDataResponse">

    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPieceOfArchiveDataString">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPieceOfArchiveDataStringResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArchiveDataByRangDate">
    <xs:sequence>

      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArchiveDataByRangDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>

  </xs:complexType>
  <xs:element name="getArchiveData" nillable="true" type="getArchiveData"/>
  <xs:element name="getArchiveDataResponse" nillable="true" type="getArchiveDataResponse"/>
  <xs:element name="getPieceOfArchiveDataString" nillable="true" type="getPieceOfArchiveDataString"/>
  <xs:element name="getPieceOfArchiveDataStringResponse" nillable="true" type="getPieceOfArchiveDataStringResponse"/>
  <xs:element name="getArchiveDataByRangDate" nillable="true" type="getArchiveDataByRangDate"/>
  <xs:element name="getArchiveDataByRangDateResponse" nillable="true" type="getArchiveDataByRangDateResponse"/>
</xs:schema>
  </wsdl:types>

  <wsdl:message name="getArchiveDataResponse">
    <wsdl:part element="tns:getArchiveDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveDataByRangDateResponse">
    <wsdl:part element="tns:getArchiveDataByRangDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveDataByRangDate">

    <wsdl:part element="tns:getArchiveDataByRangDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPieceOfArchiveDataString">
    <wsdl:part element="tns:getPieceOfArchiveDataString" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPieceOfArchiveDataStringResponse">
    <wsdl:part element="tns:getPieceOfArchiveDataStringResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveData">
    <wsdl:part element="tns:getArchiveData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IArchiveCapabilitySOAPEndpoint">
    <wsdl:operation name="getArchiveData">
      <wsdl:input message="tns:getArchiveData" name="getArchiveData">

    </wsdl:input>
      <wsdl:output message="tns:getArchiveDataResponse" name="getArchiveDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPieceOfArchiveDataString">
      <wsdl:input message="tns:getPieceOfArchiveDataString" name="getPieceOfArchiveDataString">
    </wsdl:input>
      <wsdl:output message="tns:getPieceOfArchiveDataStringResponse" name="getPieceOfArchiveDataStringResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getArchiveDataByRangDate">
      <wsdl:input message="tns:getArchiveDataByRangDate" name="getArchiveDataByRangDate">
    </wsdl:input>
      <wsdl:output message="tns:getArchiveDataByRangDateResponse" name="getArchiveDataByRangDateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchiveCapabilitySOAPEndpointServiceSoapBinding" type="tns:IArchiveCapabilitySOAPEndpoint">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getArchiveData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getArchiveData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getArchiveDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getPieceOfArchiveDataString">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPieceOfArchiveDataString">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPieceOfArchiveDataStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getArchiveDataByRangDate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getArchiveDataByRangDate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getArchiveDataByRangDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchiveCapabilitySOAPEndpointService">
    <wsdl:port binding="tns:ArchiveCapabilitySOAPEndpointServiceSoapBinding" name="ArchiveCapabilitySOAPEndpointPort">
      <soap:address location="http://localhost:9090/cxf/ArchiveCapabilitySOAPEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>